html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin:  0;
  padding: 0;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap：wrap;
}

#left {
  width: 15%;
  float: left;
  list-style-type: none;
  display: none;
}
#text-area {
  width: 100px;
}
#list {
  list-style-type: none;
}
#map {
  height: 100%;
  width: 100%;
  float: right;
  margin-top: -20px;
}

#button {
  float: left;
}
/*@media screen and (max-width:500px) {
    #left {display: none;}
    }
@media screen and (max-width:500px) {
  #map {
    height: 100%;
    width: 100%;
  }
}*/
